body {
    font-family: Arial;
    padding: 0;
    margin: 0;
}

.Banner {
    padding: 200px;
    background-image: url(Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    overflow: hidden;
    background-color: #000000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    font-size: 125%;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    cursor: pointer;
}

.navbar a.right {
    float: right;
}

.button {
    background-color: #f87f2e;
    color: white;
    padding: 5px;
    font-size: 100%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
}

.button:hover {
    opacity: 0.7;
}

.Container1 {
    padding: 100px;
    color: #ffffff;
    text-align: center;
    background: #2d3a63;
}

.Container2 {
    padding: 100px;
    color: #ffffff;
    text-align: center;
    background: #1f2846;
}

.footer {
    padding: 20px;
    color: #ffffff;
    text-align: left;
    background: #000000;
}